.all-problems-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.all-problems {
    min-height: calc(100% - 55px);
    max-height: calc(100% - 55px);
}