@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *::after, *::before {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
    font-size: larger;
}