* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brand {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #343a40;
    padding:1em
}

.links a {
    margin-right: 2em;
    transition: text-decoration 0.5s ease-in;
    display: inline-block;
    color:#ffffff;
    font-size: 22px;
}

.links a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #fafafa;
    margin-top: 2px;
    transition: 300ms;
}

.links a:hover::after {
    width: 100%;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout{
    transition: text-decoration 0.5s ease-in;
    display: inline-block;
    color:#fafafa;
    font-size: 23px;

}
.logout::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #fafafa;
    margin-top: 2px;
    transition: 300ms;
}

.logout:hover::after {
    width: 100%;
}